<lasso-page name="my-page" package-path="./browser.json"/>
<html>
<head>
    <lasso-head/>
</head>
<body>
    <h1>Hello ${data.name}</h1>
    <great-button buttonName="Click Me"/>
    <init-widgets/>
    <lasso-body/>
</body>
</html>